body {

background:#050505;
color:#ddd;

font-family:Georgia, serif;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

margin:0;

}


#game {

width:90%;
max-width:600px;

text-align:center;

}


h1 {

letter-spacing:5px;
color:white;

}


#text {

font-size:20px;

line-height:1.6;

min-height:200px;

}


button {

background:#111;

color:white;

border:1px solid #777;

padding:15px 25px;

margin:10px;

font-size:16px;

}


#extra {

margin-top:20px;

}