body {

    background: #0b0b0b;
    color: white;
    font-family: Arial, sans-serif;

    margin: 0;
    padding: 20px;

    text-align: center;

}


#game {

    max-width: 500px;
    margin: 0 auto;

}


h1 {

    font-size: 42px;
    letter-spacing: 8px;

    margin-bottom: 40px;

}



#text {

    min-height: 250px;

    font-size: 20px;

    line-height: 1.6;

    white-space: pre-line;

    margin-bottom: 20px;

}



button {

    background: #222;

    color: white;

    border: 1px solid white;

    border-radius: 10px;

    padding: 15px 25px;

    font-size: 18px;

    margin: 10px;

}



button:hover {

    background: #444;

}



#extra {

    margin-top: 30px;

    font-size: 18px;

}



#reader {

    width: 300px;

    margin: 20px auto;

}