body {

background:#111;

color:white;

font-family:Arial, sans-serif;

text-align:center;

margin:0;

padding:20px;

}


#game {

max-width:500px;

margin:auto;

}


h1 {

font-size:40px;

letter-spacing:5px;

}


#text {

min-height:220px;

font-size:20px;

line-height:1.6;

margin-top:30px;

white-space:pre-line;

}


button {

background:#222;

color:white;

border:1px solid white;

padding:15px 25px;

font-size:18px;

border-radius:10px;

margin:10px;

}


button:active {

transform:scale(0.95);

}


#extra {

margin-top:30px;

font-size:18px;

}


#reader {

width:300px;

margin:20px auto;

}
